*.pyc
/build/
/dist/
/.conda/
/.jupyter/
/.local/
/.idea/
/node_modules/
/notebooks*/
/*.egg-info
/*.egg
/*.eggs
.DS_Store
.vagrant
/rsconnect_jupyter/static/version.json
/rsconnect_jupyter/version.py
