*.pyc
.DS_Store
.coverage
.vagrant
/*.egg
/*.egg-info
/*.eggs
/.conda/
/.idea/
/.jupyter/
/.local/
/build/
/dist/
/docs/out/
/node_modules/
/notebooks*/
/rsconnect_jupyter/static/version.json
/rsconnect_jupyter/version.py
