*.pyc
.DS_Store
.coverage
.ipynb_checkpoints/
.vagrant
/*.egg
/*.egg-info
/*.eggs
/.conda/
/.idea/
/.jupyter/
/.local/
/build/
/cypress/screenshots/*
/cypress/videos/*
/dist/
/docs/out/
/node_modules/
/notebooks*/
/rsconnect_jupyter/static/version.json
/rsconnect_jupyter/version.py
