nbconvert>=5.0
nbformat
notebook>=6.1.5, <7.0.0
six
py>=1.10.0
Pygments>=2.7.4
jinja2>=2.11.3
bleach>=3.3.0
cryptography>=3.2
git+https://github.com/rstudio/rsconnect-python.git@bcwu-voila#egg=rsconnect-python
