name: main
on:
  push:
    branches: [master]
    tags: ['*']
  pull_request:
    branches: [master]
  repository_dispatch:
    types: [rsconnect_python_latest]
env:
  DOCKER_TTY_FLAGS: ''
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['2.7', '3.5', '3.6', '3.7', '3.8', '3.9']
        include:
        - os: macos-latest
          python-version: '3.9'
    runs-on: ${{ matrix.os }}
    name: test (py${{ matrix.python-version }} ${{ matrix.os }})
    steps:
    - uses: actions/checkout@v2
    - run: git fetch --prune --unshallow
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - run: echo "PYTHONPATH=${GITHUB_WORKSPACE}" >> $GITHUB_ENV
    - run: make prereqs
    - run: make version
    - run: make install
    - run: make lint
    - run: make test
  selenium:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: git fetch --prune --unshallow
    - uses: actions/setup-python@v2
      with:
        python-version: 3.8.x
    - run: echo "PYTHONPATH=${GITHUB_WORKSPACE}" >> $GITHUB_ENV
    - run: make image3.8
    - run: make -C selenium build
    - run: make -C selenium clean
    - run: make -C selenium test-env-up
    - run: make -C selenium jupyter-up
    - run: make -C selenium test
  distributions:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: git fetch --prune --unshallow
    - uses: actions/setup-python@v2
      with:
        python-version: 3.8.x
    - run: echo "PYTHONPATH=${GITHUB_WORKSPACE}" >> $GITHUB_ENV
    - run: make prereqs
    - run: pipenv clean
    - run: pipenv install --skip-lock --dev
    - run: pipenv run pip install -U 'SecretStorage>=3'
    - run: make dist
      id: create_dist
    - uses: actions/upload-artifact@v2
      with:
        name: distributions
        path: dist/
    - run: pipenv run pip install -vvv ${{ steps.create_dist.outputs.whl }}
    - run: pipenv run python -c 'import rsconnect_jupyter;print(rsconnect_jupyter.__version__)'
    - if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false
    - if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ steps.create_dist.outputs.whl }}
        asset_name: ${{ steps.create_dist.outputs.whl_basename }}
        asset_content_type: application/x-wheel+zip
    - uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET }}
        aws-region: us-east-1
    - if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      run: make sync-latest-to-s3
    - if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
  docs:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: extractions/setup-just@v1
    - uses: actions/checkout@v2
    - run: just docs/ image build
    - uses: actions/upload-artifact@v2
      with:
        name: docs
        path: docs/site/
    - uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET }}
        aws-region: us-east-1
    - if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      run: make sync-latest-docs-to-s3
    - if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags') && (contains(github.ref, 'b') == false)
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.DOCS_AWS_ID }}
        aws-secret-access-key: ${{ secrets.DOCS_AWS_SECRET }}
        aws-region: us-east-1
    - if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags') && (contains(github.ref, 'b') == false)
      run: make promote-docs-in-s3
